@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #c27170;
  --color-secondary: #6f575e;
  --color-background: #fcf2f2;
  --color-light: #fdf4ff;
}
body {
  @apply bg-white dark:bg-gray-900;
}

.textStyle {
  @apply text-gray-900 dark:text-gray-300;
}
.iconsStyle {
  @apply text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white text-xl;
}
.title-bg {
  background-image: url("/brush.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
}
.banner-bg {
  background-image: url("/bgBanner.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center;
}
