@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: gray;
}
body {
  @apply bg-white dark:bg-gray-900;
}

.textStyle {
  @apply text-gray-900 dark:text-gray-300;
}
.iconsStyle {
  @apply text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white text-xl;
}
